<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QMCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>460370031C8023D400FEB3EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4603701C1C8023D400FEB3EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>460370271C8023D400FEB3EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
